<div class="ibox-content">
  <button type="button" name="button"class="btn btn-w-m btn-success" ng-click="vm.addNewDuty()">新增任务</button>
</div>
<div class="ibox-content">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>ID</th>
        <th>房间号</th>
        <th>账户数量</th>
        <th>有效时长</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in vm.renqiList">
        <td>{{item.configId}}</td>
        <td>{{item.roomDomain}}</td>
        <td>{{item.accounts}}</td>
        <td>{{item.expire}}</td>
        <td><button class="btn btn-w-m btn-warning" ng-click="vm.delRenQiDuty(item.configId)">删除此任务</button></td>
      </tr>
    </tbody>

  </table>
</div>
